body {
    font-family: "Verdana", "Helvetica", sans-serif;
    font-size: 18px;
    line-height: 150%;
    background: white;
    color: black;
    margin: 1em auto;
    padding: 0 1em;
    max-width: 800px;
}
